# Copyright (c) 2026, Realtek Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

config REALTEK_BEE_IR
	bool "Realtek Bee MCU ir driver"
	default y
	depends on USE_HAL_REALTEK_BEE_IR

	select USE_HAL_REALTEK_BEE_RCC
	select USE_HAL_REALTEK_BEE_PINMUX
	select USE_HAL_REALTEK_BEE_NVIC

	help
	  This option enables the ir driver for Realtek Bee MCU.
